.autoplay-progress {
	color: var(--swiper-theme-color);
}

.autoplay-progress svg {
	--progress: 0;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}
