---
import Layout from '../layouts/Layout.astro';
import Container from '../ui/Container.astro';
import Slider from '../components/Slider';
import Trines from '../components/Trines';
import Games from '../components/Games';
import Mods from '../components/Mods';

---

<Layout title="Trine Series Fan Br">
	<Slider client:only="react" />
	<main>
		<Container>
			<Trines client:only="react" />
			<Games client:only="react" />
			<Mods client:only="react" />
		</Container>

	</main>
</Layout>
