---
import Layout from '../layouts/Layout.astro';
import Container from '../ui/Container.astro';

---

<Layout title="Trine Series Fan Br">
	<main>
		<Container>
			<h1 class="text-4xl text-slate-500 text-title">Trine 5: A Clockwork 
				Conspiracy</h1>
		</Container>
	</main>
</Layout>

<style>
		
</style>
