---
import Container from "../ui/Container.astro";
import { links } from '../data/links';

---
<footer class="main-footer mt-8">
    <Container>
       <div class="border-t border-white/10 pt-16 pb-20 ">
            <div class="flex justify-between">
                <div class="max-w-80 lg:max-w-[592px]">
                    <p class="text-white/50 leading-6 text-sm pb-4">Este material é estritamente para uso educacional e não será empregado em atividades comerciais. Todas as fotografias e marcas mencionadas pertencem aos seus respectivos proprietários dos direitos autorais.</p>
                    <a class="text-white font-semibold" target="_blank" href={links.frozenbyte}>www.frozenbyte.com</a>
                </div>
                <div class="flex flex-col justify-between items-end">
                    <div class="flex gap-4">
                        <a target="_blank" href={links.twich}>
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.5 11V7M16.5 11V7M21.5 2H3.5V18H8.5V22L12.5 18H17.5L21.5 14V2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                        </a>
                        <a target="_blank" href={links.youtube}>
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_134_31)">
                                <path d="M23.04 6.42C22.9212 5.94541 22.6792 5.51057 22.3386 5.15941C21.998 4.80824 21.5707 4.55318 21.1 4.42C19.38 4 12.5 4 12.5 4C12.5 4 5.61996 4 3.89996 4.46C3.42921 4.59318 3.00194 4.84824 2.66131 5.19941C2.32068 5.55057 2.07875 5.98541 1.95996 6.46C1.64518 8.20556 1.4912 9.97631 1.49996 11.75C1.48874 13.537 1.64273 15.3213 1.95996 17.08C2.09092 17.5398 2.33827 17.9581 2.67811 18.2945C3.01794 18.6308 3.43878 18.8738 3.89996 19C5.61996 19.46 12.5 19.46 12.5 19.46C12.5 19.46 19.38 19.46 21.1 19C21.5707 18.8668 21.998 18.6118 22.3386 18.2606C22.6792 17.9094 22.9212 17.4746 23.04 17C23.3523 15.2676 23.5063 13.5103 23.5 11.75C23.5112 9.96295 23.3572 8.1787 23.04 6.42Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.25 15.02L16 11.75L10.25 8.47998V15.02Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_134_31">
                                <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>                                                             
                        </a>
                        <a target="_blank" href={links.twitter}>
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_134_34)">
                                <path d="M23.5 3.00005C22.5424 3.67552 21.4821 4.19216 20.36 4.53005C19.7577 3.83756 18.9573 3.34674 18.067 3.12397C17.1767 2.90121 16.2395 2.95724 15.3821 3.2845C14.5247 3.61176 13.7884 4.19445 13.273 4.95376C12.7575 5.71308 12.4877 6.61238 12.5 7.53005V8.53005C10.7426 8.57561 9.00127 8.18586 7.43101 7.39549C5.86074 6.60513 4.51032 5.43868 3.5 4.00005C3.5 4.00005 -0.5 13 8.5 17C6.44053 18.398 3.98716 19.099 1.5 19C10.5 24 21.5 19 21.5 7.50005C21.4991 7.2215 21.4723 6.94364 21.42 6.67005C22.4406 5.66354 23.1608 4.39276 23.5 3.00005Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_134_34">
                                <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </a>
                    </div>
                    <small class="sm:max-w-52 md:max-w-full">2024 © Desenvolvido por Rangel Xavier - Astro, React e Tailwind</small>
                </div>
            </div>
       </div>
    </Container>
</footer>