---
import Container from "../ui/Container.astro";


---

<header class="main-header">
    <Container>
        <div class="w-full pt-10 flex items-center justify-between">
            <a href="/">
                <img src="assets/logo-main.svg" alt="Logo Trine Series Fan Br">
            </a>
            <nav class="flex gap-[72px]">
                <a href="#">
                    <span>Jogos</span>
                </a>
                <a href="#">
                    <span>Complementos</span>
                    <span> icone </span>
                </a>
                <a href="#">
                    <span>Frozenbyte</span>
                </a>
                <a href="#">
                    <span>Press</span>
                </a>
            </nav>

            <div>
                icon fav
            </div>
        </div>
    </Container>
</header>