---
import Container from "../ui/Container.astro";
import FavoritesJSX from "./Favorites";
import NavItem from "./NavItem.astro";
import { navItemLinks } from './NavItemLinks.astro';

---

<header class="w-full main-header pt-10 absolute z-50">
    <Container>
        <div class="w-full flex items-center justify-between">
            <a href="/">
                <img src="/assets/logo-main.svg" alt="Logo Trine Series Fan Br">
            </a>
            <nav class="gap-[72px] hidden md:flex md:gap-10">
                {
                    navItemLinks.map(item => 
                        <NavItem 
                            classes="text-white/70 hover:text-white flex gap-2 items-center uppercase font-semibold transition"
                            href={item.href} 
                            title={item.title} 
                            dropdown={item.dropdown} />
                    )
                }
            </nav>

            <div>
                <!-- <Favorites transition:persist  /> -->
                <FavoritesJSX client:only="react" />
            </div>
        </div>
    </Container>
</header>

<script>
</script>