---
import Container from "../ui/Container.astro";
import Favorites from "./Favorites.astro";
import NavItem from "./NavItem.astro";

const items = [
    {"title": "Jogos", "href": "#", "dropdown": false},
    {"title": "Complementos", "href": "#", "dropdown": true},
    {"title": "Frozenbyte", "href": "#", "dropdown": false},
    {"title": "Press", "href": "#", "dropdown": false}
];

---

<header class="w-full main-header pt-10 fixed z-10">
    <Container>
        <div class="w-full flex items-center justify-between">
            <a href="/">
                <img src="assets/logo-main.svg" alt="Logo Trine Series Fan Br">
            </a>
            <nav class="flex gap-[72px]">
                {
                    items.map(item => 
                        <NavItem 
                            classes="text-white/70 hover:text-white flex gap-2 items-center uppercase font-semibold transition"
                            href={item.href} 
                            title={item.title} 
                            dropdown={item.dropdown} />
                    )
                }
            </nav>

            <div>
                <Favorites />
            </div>
        </div>
    </Container>
</header>