---
import BtnWhite from "../ui/BtnWhite";
import Container from "../ui/Container.astro";
import TagGreen from "../ui/TagGreen";
import { links } from '../data/links';
---

<div class="w-full mt-32">
    <Container>
        <div class="w-full bg-steam h-[288px] relative bg-cover lg:bg-contain bg-no-repeat">
            <div class="flex items-center h-full p-16">
                <div>
                    <h3 class="text-title text-white text-[32px]">Compre na Steam</h3>
                    <p class="text-white mb-6 max-w-[329px]">Siga nosso perfil e compre nossos games na maior loja de games do mundo</p>
                    <div class="flex gap-2 items-center">
                        <BtnWhite href={links.steam} titulo="Compre agora">
                            <img src="/assets/icon-steam.svg" alt="Steam">
                        </BtnWhite>
                        <TagGreen>+7,882 followers</TagGreen>
                    </div>
                </div>
                <div>
                    <img class="relative bottom-4" src="/assets/mago.png" alt="Mago">
                </div>
            </div>
        </div>
    </Container>
</div>