---
interface Props {
	title: string;
}

const { title } = Astro.props;

// Supports weights 100-900
import '@fontsource-variable/epilogue';
// Supports weights 100-900
import '@fontsource-variable/inter';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Steam from '../components/Steam.astro';
import Head from './Head.astro';
---

<!doctype html>
<html lang="pt-br">
	<Head title={title} />
	<body>
		<Header />
			<slot />
		<Steam />
		<Footer />
	</body>
</html>

